/**
 * Styles Reset, These Styles were inspired by the
 * Tailwind base class
 *
 * @format
 */

@import "reset.css";

/* Custom Fonts Imports */

@import "./fonts/fonts.css";

/* Colors */
:root {
  --grey: #c9bfae;
  --black-tint-text: rgba(0, 0, 0, 0.5);
  --silver-bg: #f2eee9;
  --white: #fff;
  --black: #000;
  --russet: #8c4d2e;
  --ecru: #debc78;
  --buff: #cd9563;
  --brown-sugar: #c06c50;
  --charcoal: #313e47;
}

/* Type */
:root {
  --larken-light: "larken-lightregular";
  --mark-regular: "mark_proregular";
  --mark-medium: "mark_promedium";
  --nav-text: 0.625rem;
  --header-1: 2.1rem;
  --header-2: 1.875rem;
  --header-3: 1.5rem;
  --header-4: 1.375rem;
  --header-5: 1.375rem;
  --button-text: 0.875rem;
  --pry-label: 0.625rem;
  --sec-label: 0.75rem;
  --body: 0.938rem;
}

/* Utilities */

body {
  font-size: var(--body);
  font-family: var(--mark-regular);
}

.container {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
}

.content {
  grid-column: 2/3;
}

.pry-label {
  font-family: var(--mark-regular);
  text-transform: uppercase;
  font-size: var(--pry-label);
  color: var(--black-tint-text);
}

.header-1 {
  font-size: var(--header-1);
  font-family: var(--larken-light);
  line-height: normal;
}

.header-2 {
  font-family: var(--larken-light);
  font-size: var(--header-2);
  line-height: 1.3;
}

.header-3 {
  font-family: var(--larken-light);
  font-size: var(--header-3);
  line-height: normal;
}

.header-4 {
  font-family: var(--larken-light);
  font-size: var(--header-4);
}

.header-5 {
  text-transform: uppercase;
  font-family: var(--mark-medium);
  font-size: var(--header-5);
}

.sec-label {
  font-family: var(--mark-regular);
  font-size: var(--sec-label);
  color: var(--black-tint-text);
}

/* Components */
.button {
  font-family: var(--mark-medium);
  font-size: var(--button-text);
  background-color: transparent;
  border-color: var(--white);
  border: 1px solid;
  color: inherit;
  padding: .6875rem 1.25rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 24px;
}

.inner-wrapper {
  grid-column: 1/-1;
}

.layout {
  display: grid;
}

.layout > section ~ :not([hidden]) {
  margin-top: 50px;
}

/*  */

nav > .hamburger,
.search {
  width: 1.125rem;
  height: 1.125rem;
}

nav > .logo {
  width: 7.063rem;
}

.nav-menu {
  padding: 0.625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  border-top-color: var(--grey);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--mark-medium);
  height: 2.3125rem;
  font-size: var(--nav-text);
}

/*  */

.hero {
  color: var(--white);
  height: calc(100vh - 7.088rem);
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(16, 16, 16, 0) 68.5%,
      rgba(0, 0, 0, 0.79) 94%
    ),
    url(./images/HeroImage.png);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero > div {
  text-align: center;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.hero > div > h1 {
  font-size: var(--header-1);
  font-family: var(--larken-light);
}

/*  */
.grouped {
  display: flex;
  flex-direction: column;
  row-gap: 4.813rem;
}

.showcase {
  display: flex;
  flex-direction: column;
}

.showcase > .ft-img {
  max-height: 40.563rem;
  width: 100%;
}

.showcase > .ft-img img {
  aspect-ratio: 1/1.7;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.ft-cont {
  min-height: 25rem;
  max-height: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.featured {
  display: flex;
  flex-direction: column;
  row-gap: 3.688rem;
}

.featured > .sec-label {
  text-transform: uppercase;
}

/* Look in to css selectors to isolate children */
.article-grp {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.article {
  display: flex;
  flex-direction: column;
}

.article .art-img > img {
  aspect-ratio: 1.91/1;
  object-fit: cover;
}

.article .art-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8.438rem;
}

.article2 {
  display: flex;
  flex-direction: column;
}

.article2 .art-img > img {
  aspect-ratio: 4/5;
  object-fit: cover;
}

.article2 .art-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10.625rem;
}

/*  */

.mag-ad {
  height: 652px;
  background-color: #4b4b4b;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* this picks the first immediate child element that
is not hidden in the parent element with class .mag-ad */

/* the second half from the ~ combinator called the subsequent sibling combinator
Picks all elements that follow the above element that are also not hidden */

/* .mag-ad > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.5rem;
} */

.mag-ad > p:first-child {
  text-transform: uppercase;
}

.mag-ad > h4 {
  text-transform: capitalize;
}

.mag {
  height: 60%;
}

.mag > img {
  height: 100%;
}

/* Case Study */
.content:has(> .case-study) {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.case-study {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  row-gap: 4rem;
}

.case-heading {
  text-align: center;
}

.case-heading > p {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--black-tint-text);
}

.case {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.case > .img-ctn {
  order: 1;
}

.case .about-case > h2 {
  font-family: var(--larken-light);
  font-size: 1.5rem;
  line-height: 1.3;
}

.case .about-case > button {
  color: var(--black);
}

.about-case > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1rem;
}

/*  */

.special-edition {
  text-align: center;
  overflow-x: hidden;
  height: 34.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.semag-slide {
  display: flex;
}

/*  */

.editor {
  background-color: var(--grey);
  overflow: hidden;
  height: 55.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.editor > p:first-child {
  text-transform: uppercase;
  color: var(--black-tint-text);
  text-align: center;
}

.editor > .header-1 {
  text-align: center;
}

.art-slide {
  margin-left: 24px;
  display: flex;
  column-gap: 2.188rem;
}

.art-slide >  div{
  width: max-content;
  min-width: 14.69rem;
}

.editor > .button{
  align-self: center;
}


/*  */

.more-articles {
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem;
}

.more-articles > p {
  text-transform: uppercase;
  color: var(--black-tint-text);
}

/*  */
.main-mag {
  background-color: var(--silver-bg);
}

.mag-showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 45px;
  /* height: 1250px;
  justify-content: space-evenly; */
}

.mag-showcase > .button {
  margin-top: 50px;
}
.mag-showcase > .sec-label {
  margin-top: 10px;
}
.mag-issue {
  text-transform: uppercase;
  color: var(--black-tint-text);
  text-align: center;
}

.mag1 {
  margin-block: 55px;
}

.mag-desc {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
}

.mags {
  display: flex;
}

/*  */
.journey-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem;
}

.journey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 3.25rem;
}

.journey-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 17.813rem;
  justify-content: space-between;

}

.journey-info > .header-1 {
  text-align: center;
}

.journey-info > .art-summ {
  text-align: center;
  width: 20em;
}

/*  */

.catwrapper {
  grid-column: 1/-1;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 3.75rem ;
 
}

.category {
  display: flex;
  flex-direction: column;
  row-gap: 2.188rem;
  margin-left: 1.5rem;
}

.category > p {
  color: var(--black-tint-text);
  text-transform: uppercase;
}

.categories {
  display: flex;
  column-gap: 40px;
}

.categories > div {
  /* max-width: 13.75rem; */
  max-width: 17.68rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

/*  */

.socials {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 400px;
  justify-content: space-evenly;
  margin-inline: 1.5rem;
}

.socials > p {
  text-transform: uppercase;
}

.socials > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials > div > :not([hidden]) ~ :not([hidden]) {
  margin-top: 56px;
}

.news {
  background-color: var(--charcoal);
  color: var(--white);
  display: flex;
  justify-content: center;
  height: 28.25rem;
  align-items: center;
  height: 452px;
}

.newsletter {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 84%;
  height: 20.875rem;
}

.newsletter > p:first-child {
  text-transform: uppercase;
  font-family: var(--mark-medium);
  text-align: center;
}

.newsletter > .header-1 {
  font-size: 1.438rem;
  text-align: center;
}


.newsletter > form {
  display: flex;
  color: var(--black);
  align-items: center;
  background-color: var(--silver-bg);
  padding: 16px 14px;
}

.newsletter > form > input:focus-visible {
  outline: none;
}

.newsletter > form > input {
  flex-grow: 1;
  background-color: transparent;
}

.newsletter > p:last-child{
  font-size: .875rem;
}
/* footer */

footer {
  background-color: var(--silver-bg);
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 369px;
}

.box1 > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mag-part {
  max-width: 11.625rem;
  width: fit-content;
}

.logo-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.logo-part > img {
  width: 9.188rem;
}

.logo-part > p {
  text-align: center;
  font-size: 16px;
  font-family: var(--larken-light);
  color: var(--black);
}

.contact {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--pry-label);
  color: var(--black);
}

.links {
  background-color: var(--white);
}

.box2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  text-transform: uppercase;
  row-gap: 50px;
  height: 28.813rem;
  align-content: center;
  
}

.grp1 {
  font-size: var(--pry-label);
  font-family: var(--mark-medium);
  
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}

.grp2 {
  font-size: var(--pry-label);
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  grid-column: 1/-1;
}

/* REMEMBER TO CHANGE PIXELS TO REMS */
